@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dark-mode {
  background: rgb(255, 56, 160);
  background: radial-gradient(
    circle,
    rgba(255, 56, 160, 1) 0%,
    rgba(105, 35, 148, 1) 34%,
    rgba(11, 18, 40, 1) 100%
  );
  background-position-x: left;
  background-size: 100vh;
  color: #a6b2ebff;
  font-family: 'Share Tech', sans-serif;
}

.style-button-dark-mode {
  background-color: rgb(31, 51, 167);
  color: #a6b2ebff;
  position: fixed;
  right: 0;
  top: 0;
}

.button-dark-mode {
  background-color: rgb(31, 51, 167);
  color: #a6b2ebff;
}

.input-dark-mode {
  background-color: #1f7ea7ff;
  border-radius: 10px;
}

.light-mode {
  background-color: rgb(255, 251, 202);
  color: rgb(112, 112, 112);
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6020862a-66b6-43b9-9a30-f77db3e81c24/d69jqez-dd39279c-3065-4854-9875-6fbd28f40edf.png/v1/fill/w_1024,h_1449,q_80,strp/yellow_lined_paper_by_andie200_d69jqez-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ0OSIsInBhdGgiOiJcL2ZcLzYwMjA4NjJhLTY2YjYtNDNiOS05YTMwLWY3N2RiM2U4MWMyNFwvZDY5anFlei1kZDM5Mjc5Yy0zMDY1LTQ4NTQtOTg3NS02ZmJkMjhmNDBlZGYucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.GfRzumSodzOj6Z-p4FghqSR8FX-MEVoBG5a50TSj-BI');
  background-repeat: repeat-y;
  background-position: 25vw 0vh;
  font-family: 'Redressed', cursive;
}

.button-light-mode {
  background-color: rgb(255, 251, 202);
  color: rgb(112, 112, 112);
}

.style-button-light-mode {
  background-color: rgb(255, 251, 202);
  color: rgb(112, 112, 112);
  position: fixed;
  right: 0;
  top: 0;
}

.input-light-mode {
  background-color: rgb(255, 253, 231);
  color: rgb(112, 112, 112);
}
